# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Poetry files
poetry.lock

# Distribution / packaging
*.egg-info/
dist/
build/

# Editor specific
.vscode/
.idea/
*.swp

# System-specific
.DS_Store
Thumbs.db

# Env.
.env

#DB
jobs.db
